.button {
    padding: 5px 8px;
    background-color: #299696cc;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.centralized {
    display: flex;
    justify-content: center;
    align-items: center;
}
