.button {
    padding: 5px 8px;
    background-color: #299696cc;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.centralized {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: #11111188;
    z-index: 5;
}

.popup {
    background: linear-gradient(-120deg, #1a4e5c, #2a444a);
    animation: showModal;
    animation-duration: 500ms;
}


@keyframes showModal {
    0% {
        opacity: 0.1;
        transform: translateX(30%);
    }
    60% {
        transform: translate(0%);
    }
    100% {
        opacity: 1;
    }
}