.content {
    flex-direction: column;
    flex: 1;
}

.decksWrapper {
    position: relative;
    aspect-ratio: 1;    
    height: 80vh;
    max-width: 90vw;
}

.tableWrapper {
    overflow: auto;
    background-color: var(--secondary-bg-color);
    box-shadow: var(--content-box-shadow);
    width: 100%;
    height: 100%;
}

.deckForm {
    flex-direction: column;
    padding: 15px 25px;
    gap: 15px;
    border-radius: 15px;
}

.deckForm .inputFieldWrapper {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 100%;
}

.deckForm .inputFieldWrapper div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 5px;
}

.deckForm .inputFieldWrapper label {
    font-size: 22px;
    font-weight: 600;
}


.inputFieldWrapper input {
    padding: 3px 5px;
    border: none;
    border-radius: 5px;
    flex-basis: 100%;
}

.inputFieldWrapper input:focus {
    outline: 2px solid #3a3a98;
}

.buttonsContainer {
    display: flex;
    gap: 5px;
}

.buttonsContainer button {
    flex: 1;
}

@media screen and (min-width: 900px){
    .deckForm {
        width: 500px;
    }

    .buttonsContainer {
        width: 100%;
    }
}

@media screen and (max-width: 900px){    
    .deckForm {
        width: 95%;
    }

    .deckForm .inputFieldWrapper {
        align-items: center;
    }

    .deckForm .inputFieldWrapper div {
        width: 90%;
    }

    .buttonsContainer {
        width: 90%;
    }

}