.flashcardManagement {
    height: 100%;
}

.addFlashcardsForm {
    flex-direction: column;
    gap: 1rem;
    margin-top: 2rem;
    padding: 25px 35px;
    border-radius: 15px;
    max-width: 95vw;
}

.formTitle {
    margin-bottom: 1.3rem;
}

.flashcardsPhraseInput {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}

.flashcardsPhraseInput input {
    padding: 3px 5px;
    border: none;
    border-radius: 5px;
    width: 100%;
}

.flashcardsPhraseInput input:focus {
    outline: 2px solid #3a3a98;
}

.buttonsContainer {
    display: flex;
    width: 100%;
    margin-top: 1rem;
}

.buttonsContainer button {
    flex: 1;
}

@media screen and (min-width: 900px) {
    .flashcardManagement {
        height: 100vh;
    }
}

@media screen and (max-width: 900px){
    .flashcardManagement {
        flex-direction: column-reverse;
        height: auto;
        padding: 2rem 0;
    }
}