.flashcardManagement {
    display: flex;
    justify-content: center; 
    align-items: center;
    min-height: 100vh;
    gap: 2rem;
}

.flashcardsList {
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    min-height: 300px;
    max-height: 60vh;
    width: 500px;
    max-width: 95vw;
    overflow: auto;
    background-color: #22222264;
}

.flashcardsList li {
    display: flex;
    align-items: center;
    padding: 0 15px;
    min-width: min-content;
    width: 100%;
    min-height: 40px;
    white-space: nowrap;
}

.flashcardsList li button {
    padding: 3px 5px;
    background-color: #299696cc;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 15px;
}

.addFlashcardsForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    margin-top: 2rem;
    background: linear-gradient(-120deg, #1a4e5cdd, #2a444add);
    padding: 25px 35px;
    border-radius: 15px;
}

.flashcardsPhraseInput {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.flashcardsPhraseInput input {
    padding: 3px 5px;
    border: none;
    border-radius: 5px;
}

.flashcardsPhraseInput input:focus {
    outline: 2px solid #3a3a98;
}

.flashcardsSubmitertter {
    display: flex;
    width: 100%;
    margin-top: 1rem;
}

.flashcardsSubmitertter button {
    padding: 5px 8px;
    background-color: #299696cc;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    flex: 1;
}

@media screen and (min-width: 900px) {
    .flashcardManagement {
        height: 100vh;
    }
}

@media screen and (max-width: 900px){
    .flashcardManagement {
        flex-direction: column-reverse;
        height: auto;
        padding: 2rem 0;
    }
}