.homePageWrapper {
    display: flex;
    flex-direction: column;
    gap: 25px;
}


.mainSummary {
    display: flex;
    padding-top: 2rem;
    width: 100%;
}

.summaryInfoContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
    font-size: 24px;
    font-weight: 500;
    width: 50%;
}

.summaryCardContainer {
    display: flex;
}

@media screen and (min-width: 900px) {
    .homePageWrapper {
        min-height: 100vh;
    }

    .mainSummary {
        gap: 2rem;
    }

    .mainBookTitle {
        font-weight: 800;
        font-size: 48px;
    }

    .mainBookInfo {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 5px;
        width: 100%;
    }

    .summaryCardContainer {
        justify-content: flex-start;
        align-items: center;
        width: 50%;
    }

    .summaryInfoContainer {
        align-items: flex-end;
    }

    .summaryInfoContainer span {
        width: 75%;
    }

}

@media screen and (max-width: 900px) {
    .homePageWrapper {
        min-height: calc(100vh - 3rem);
        padding-bottom: 2rem;
    }
    
    .mainSummary {
        flex-direction: column;
        align-items: center;
        gap: 25px;
    }
    
    .summaryInfoContainer {
        align-items: center;
        text-align: center;
        width: 100%;
    }
    
    .summaryInfoContainer .mainBookTitle {
        font-size: 32px;
        font-weight: 600;
    }

    .summaryInfoContainer span {
        font-size: 20px;
    }
    
    .summaryCardContainer {
        width: 100%;
        justify-content: center;
    }

    .mainBookInfo {
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 5px;
    }
}