.summariesPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.summariesPageTop {
    display: flex;
    align-items: center;
    padding-top: 2rem;
    width: 100%;
}

.summariesPageTop span {
    font-size: 28px;
    font-weight: 600;
}

.searchBarContainer {
    display: flex;
    align-items: center;
    gap: 15px;
}

.searchBarContainer svg {
    cursor: pointer;
}

.searchBarContainer input {
    border-radius: 5px;
    border: none;
    padding: 3px 5px;
    font-size: 18px;
    width: min-content;
}

.searchBarContainer input:focus {
    outline: 2px solid #3a3a98;
}

@media screen and (min-width:900px) {
    .summariesPage {
        min-height: 100vh;
    }

    .summariesPageTop {
        justify-content: space-around;
    }
}

@media screen and (max-width:900px) {
    .summariesPage {
        min-height: calc(100vh - 3rem);
    }
 
    .summariesPageTop {
        flex-direction: column;
        text-align: center;
        gap: 15px;
    }
}
