.bookTextContainer {
    flex-direction: column;
    width: 100%;    
}

.bookHeader {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 95%;
    margin-bottom: 5px;
}

.bookHeader svg {
    font-size: 32px;
    cursor: pointer;
}

.bookTitle {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.bookTitle span:first-child {
    font-size: 40px;
}

.bookTitle span:last-child {
    font-size: 22px;
}

.bookContent {
    font-size: 20px;
    padding: 35px 15px;
    height: 75vh;
    background: linear-gradient(-120deg, var(--primary-bg-color), #2a444add);
    border-radius: 10px;
    overflow-y: auto;
    width: 95%;
}

.modalPopup {
    width: 475px;
    max-width: 95vw;
    height: min-content;
    border-radius: 15px;
    text-align: center;
    padding: 0 25px;
}

.modalPopup h2 {
    margin: 1rem 0;
}

.decksList {
    display: flex;
    flex-direction: column;
    max-height: 100px;
    overflow: auto;
    width: 100%;
    border-bottom: 3px solid var(--primary-bg-color);
}

.decksList span {
    font-size: 20px;
}

.decksList::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

.decksList::-webkit-scrollbar-track {
    border-radius: 5px;
    background: #ffffffaa;
}

.decksList::-webkit-scrollbar-thumb {
    background: #888;
    width: 50%;
    border-radius: 5px;
}

.decksList::-webkit-scrollbar-thumb:hover {
    background: #555;
}


.deckOption {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 10px 0;
}

.modalPhraseContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    font-size: 20px;
    line-height: 30px;
}

.modalPhraseContainer span:first-child{
    border-bottom: 3px solid var(--primary-bg-color);
    padding-bottom: 5px;
}

.modalPhraseContainer span:last-child{
    margin-top: 5px;
}

.addCardButtonsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
    gap: 15px;
}

.addCardButtonsContainer button {
    font-size: 18px;
    font-weight: 600;
    background-color: var(--secondary-bg-color);
    color: #fff;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    padding: 5px 8px;
}

@media screen and (min-width: 900px){
    .bookTextContainer {
        min-height: 100vh;
    }
}

@media screen and (max-width: 900px){
    .bookTextContainer {
        min-height: calc(100vh - 3rem);
    }
}