.summariesPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.summariesPageTop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 2rem;
    width: 100%;
}

.summariesPageTop span {
    font-size: 28px;
    font-weight: 600;
}

.searchForm {
    gap: 15px;
    width: 50%;
}

.searchForm svg {
    cursor: pointer;
}

.searchForm input {
    border-radius: 5px;
    border: none;
    padding: 3px 5px;
    font-size: 18px;
}

.searchForm input:focus {
    outline: 2px solid #3a3a98;
}

@media screen and (min-width:900px) {
    .summariesPage {
        min-height: 100vh;
    }

    .summariesPageTop {
        justify-content: space-around;
    }

    .searchForm input {
        width: 50%;
    }
}

@media screen and (max-width:900px) {
    .summariesPage {
        min-height: calc(100vh - 3rem);
    }

    .searchForm {
        width: 80%;
    }
    
    .searchForm input {
        width: 80%;
    }
}
