.userPageWrapper {
    width: 100%;
    min-height: calc(100vh - 3rem);
}

.infoWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    max-width: 90vw;
    height: 80vh;
    max-height: 80vh;
    aspect-ratio: 1;
    background-color: var(--secondary-bg-color);
    box-shadow: var(--content-box-shadow);
}
