.decksTable {
    width: 100%;   
    border-radius: 5px;
    overflow: hidden;
    border-collapse: collapse;
}

.decksTable thead {
    position: sticky;
    top: 0;
}

.decksTable thead tr {

    height: 45px;
    background-color: var(--menu-bg-color);
}

@media screen and (min-width: 900px) {
    .decksTable th {
        white-space: nowrap;
        width: calc(100% / 3);
    }
}
