.optionButton {
    padding: 8px;
    border: none;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    background-color: var(--secondary-color);
    color: var(--text-color);
}

.optionButton svg {
    flex: 1;
}


.flashcardRow:nth-child(odd) {
    background-color: var(--secondary-bg-color);
}

.flashcardRow:nth-child(even) {
    background-color: var(--quaternary-bg-color);
}


.cell {
    text-align: center;
}

@media screen and (min-width: 900px){

    .cell {
        padding: 10px 15px;
    }


    .optionButtonsContainer {
        gap: 10px;
    }

}

@media screen and (max-width: 900px){

    .cell {
        padding: 10px 5px;
    }
    
    .optionButtonsContainer {
        gap: 5px;
    }
    
    .optionButtonsContainer a {
        display: flex;
        justify-content: center;
    }

}