.gamePanel {
    display: flex; 
    align-items: center; 
    gap: 15px; 
    position: relative;
    max-width: 85vw;
}

.arrowIcon {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    background-color: var(--menu-bg-color);
    border-radius: 50%;
    cursor: pointer;
}

.arrowIcon.disabled {
    opacity: 0.3;
}

.arrowIcon:first-child {
    left: 0;
    transform: translateX(-50%);
}

.arrowIcon:last-child {
    right: 0;
    transform: translateX(50%);
}


