.icon {
    position: absolute;
    bottom: 15px;
    display: grid;
    place-items: center;
    background-color: var(--primary-color);
    border-radius: 50%;
    width: 40px;
    aspect-ratio: 1;
    font-size: 22px;
    box-shadow: var(--content-box-shadow);
    cursor: pointer;
}