.optionsTitle {
    width: 100%;
    text-align: center;
    background-color: #ffffff11;
}

.profileOptions {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}

.profileOption {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 15px;
    cursor: pointer;
}

.profileOption:hover {
    background-color: #ffffff33;
    transition: 200ms ease-in-out;
}

.profileOption span, .profileOption svg {
    font-size: 26px;
    font-weight: 500;
}