.summaryCard {
    background-color: var(--secondary-bg-color);
    box-shadow: var(--content-box-shadow);
    border-radius: 15px;
    overflow: hidden;
}

.bookImage {
    width: 100%;
    height: 78%;
}

.bookImage img {
    width: 100%;
    height: 100%;
}

.bookInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
    height: 22%;
    padding: 5px 15px;
    background-color: #fff;
    color: #000;
}

.bookInfo span {
    font-weight: 500;
    text-align: center;
    height: 50%;
}

@media screen and (min-width: 900px) {
    .summaryCard {
        width: 300px;
    }
}

@media screen and (max-width: 900px) {
    .summaryCard {
        width: 250px;
    }
}