:root {
    --primary-bg-color: #111;
    --secondary-bg-color: #22222264;
    --tertiary-bg-color: #111111bf;
    --primary-color: #ff33d3;
    --secondary-color: #ff33d3cc;
    --content-box-shadow: 10px 10px 45px #00000066;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: montserrat, sans-serif;
}

body {
    color: #fff;
    background-color: #222;
    overflow-x: hidden;
    min-height: 100vh;
}

#root, .pageContent {
    min-height: 100vh;
}

a {
    text-decoration: none;
    color: #fff;
}

ul {
    list-style: none;
}

.pageContent {
    position: relative;
}

.button {
    padding: 5px 8px;
    background-color: var(--primary-color);
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.centralized {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: #11111188;
    z-index: 5;
}

.popup {
    background-color: var(--primary-bg-color);
    animation: showModal;
    animation-duration: 500ms;
    z-index: 10;
}

.link {
    color: var(--secondary-color);
    font-weight: 600;
}

.link:hover {
    text-decoration: underline;
    opacity: 1;
}

.pageTitle {
    text-align: center;
    padding: 1rem 0;
    font-size: 32px;
    font-weight: 600;
}


@keyframes showModal {
    0% {
        opacity: 0.1;
        transform: translateX(30%);
    }
    60% {
        transform: translate(0%);
    }
    100% {
        opacity: 1;
    }
}

@media screen and (min-width: 900px) {
    .pageContent {
        width: calc(100vw - 4rem);
        min-height: 100vh;
        left: 4rem;
    }
}

@media screen and (max-width: 900px) {
    .pageContent {
        width: 100vw;
        min-height: calc(100vh - 3rem);
        margin-bottom: 3rem;
    }
}