* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: montserrat;
}

body {
    width: 100vw;
    height: 100vh;
    color: #fff;
    background-image: linear-gradient(-120deg, #1f3121ee, #0d1a1dee,#294b55dd);
    background-attachment: fixed;
    background-repeat: no-repeat;
}

a {
    text-decoration: none;
    color: #fff;
}

ul {
    list-style: none;
}

.pageContent {
    position: relative;
}

@media screen and (min-width: 900px) {
    .pageContent {
        width: calc(100vw - 4rem);
        height: 100vh;
        left: 4rem;
    }
}

@media screen and (max-width: 900px) {
    .pageContent {
        width: 100vw;
        height: 100%;
        margin-bottom: 3rem;
    }
}