:root {
    --primary-bg-color: #1a4e5c;
    --secondary-bg-color: #299696cc;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: montserrat, sans-serif;
}

body {
    color: #fff;
    background-image: linear-gradient(-120deg, #1f3121ee, #0d1a1dee,#294b55dd);
    background-attachment: fixed;
    background-repeat: no-repeat;
    overflow-x: hidden;
    min-height: 100vh;
}

#root, .pageContent {
    min-height: 100vh;
}

a {
    text-decoration: none;
    color: #fff;
}

ul {
    list-style: none;
}

.pageContent {
    position: relative;
}

@media screen and (min-width: 900px) {
    .pageContent {
        width: calc(100vw - 4rem);
        height: auto;
        left: 4rem;
    }
}

@media screen and (max-width: 900px) {
    .pageContent {
        width: 100vw;
        min-height: 100vh;
    }
}